.user-bar-dropdown{
    position: absolute; 
    top:68px; 
    right:34px;
    text-align: right;
    background-color: #ebebeb4d;
}

.user-bar-signout{
    justify-content: flex-end;
}

// .user-bar-border{
//     border-right: rgb(69, 224, 69);
//     border-width: 2px;
// }